.player-page {
}

.player-page__left-container {
  width: 396px;
  height: 548px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(0, 255, 145, 0.08);
  border-radius: 12px;
  --glass-intensity: 0.4;
}

.player-page__right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
