.player-page {
}

.player-page__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-color: transparent !important;
}

.player-page__overview-title {
  color: var(--c-text-muted);
  font-size: 18px;
}

.player-page__overview-value {
  font-size: 18px;
}
